<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PYPHLR</title>
        <meta name="description" content="a small, experimental image placeholder service built on python">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h1>PYPHLR</h1>

                    <!-- <p class="lead">a small, experimental image placeholder service built on python</p> -->

                    {% block content %}{% endblock %}

                    <footer role="contentinfo">
                        <p><small>lastest build: <a href="//github.com/noahbass/pyphlr/commit/{{ config.hash }}">{{ config.hash }}</a></small></p>
                    </footer>
                </div>
            </div>
        </div>

        <a href="//github.com/noahbass/pyphlr"><img style="position: absolute; top: 0; left: 0; border: 0;" src="//camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="//s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>

        <script>!function(P,y,p,h,l,r){P.GoogleAnalyticsObject=h,P[h]||(P[h]=function(){(P[h].q=P[h].q||[]).push(arguments)}),P[h].l=+new Date,l=y.createElement(p),r=y.getElementsByTagName(p)[0],l.src="//www.google-analytics.com/analytics.js",r.parentNode.insertBefore(l,r)}(this,document,"script","ga");ga("create","UA-41393710-1");ga("send","pageview");</script>
    </body>
</html>
