{% extends '_layout.html' %}

{% block content %}
    <h2>usage</h2>

    <p><code>//phlr.noahbass.com/[width]x[height]</code></p>


    <h2>examples</h2>

    <p>an image: <code>&lt;img src="//phlr.noahbass.com/500x300"&gt;</code></p>
    <p><img src="{{ request.base_url }}500x300" alt="500x300 placeholder"></p>

    <p>a svg: <code>&lt;img src="//phlr.noahbass.com/500x300/svg"&gt;</code></p>
    <p><img src="{{ request.base_url }}500x300/svg" alt="500x300 placeholder (svg)"></p>
{% endblock %}
