{% extends '_layout.html' %}

{% block content %}
    <h2>usage</h2>

    <p><code>//pyphlr.noahbass.com/[width]x[height]/svg</code></p>


    <h2>examples</h2>

    <!--<p>an image: <code>&lt;img src="//pyphlr.noahbass.com/500x300"&gt;</code></p>
    <p><img src="{{ request.base_url }}500x300" class="img-responsive" alt="500x300 placeholder"></p>-->
    <p>image generation still in dev</p>

    <hr>

    <p>a svg: <code>&lt;img src="//pyphlr.noahbass.com/500x300/svg"&gt;</code></p>
    <p><img src="/500x300/svg" class="img-responsive" alt="500x300 placeholder (svg)"></p>

    <hr>

    <p>a color svg: <code>&lt;img src="//pyphlr.noahbass.com/500x300/svg/BADA55"&gt;</code></p>
    <p><img src="/500x300/svg/BADA55" class="img-responsive" alt="500x300 placeholder (svg)"></p>
{% endblock %}
